#carousel {
    display: flex;
    background-color: rgb(214, 210, 210);
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

#leftArrow, #rightArrow {
    display: flex;
    background-color: gray;
    height: 90%;
    width: 75px;
    font-size: 50px;
    justify-content: center;
    align-content: center;
}

html, body {
    margin: 0px;
}

[id^="displayImage"]{
    display: flex;
    background-color: rgb(101, 123, 245);
    width: 150px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 90%;
}

#displayImage3, #displayImage4{
    display: none;
}

#page {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#pageContents {
    display: flex;
    width: 600px;
    height: 350px;
    font-size: 200px;
    justify-content: center;
    align-items: center;
    background-color: white
}

[id^="dot"], .dot {
    background-color: rgb(182, 201, 243);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.highlight {
    background-color: black;
}

img {
    height: 60px;
    width: auto;
}